<launch>
  <arg name="clear_database" default="true"/>
  <arg name="database_path" default="db_temp"/>

  <rosparam file="$(find iti_slam_launch)/yaml/slam.yaml" command="load" />

  <!-- A node, which extracts a given type of feature from the Kinect images. -->
  <include file="$(find feature_extraction)/launch/feature_extraction_service.launch" />

  <!-- Main graph slam node. -->
  <node pkg="graph_slam" type="graph_slam_node" name="graph_slam_node" output="screen">
    <remap from="odom" to="robot_pose_ekf/odom" />
  </node>

  <!-- Visualization of the slam graph. -->
  <node pkg="graph_slam_common" type="graph_visualization_node.py" name="graph_visualization_node" output="screen" />

</launch>
